.form-control {
    width: 100%;
    background-color: white;

    border: 1px solid #333;
    border-radius: 2px;
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 15px 30px 15px 30px;

    transition: all 0.2s ease;
}

.form-control:hover {
    background-color: cornflowerblue;
    color: white;
}

.form-control:hover::placeholder {
    color: white;
}

input[type=text].form-control,
input[type=number].form-control,
input[type=date].form-control,
input[type=email].form-control,
input[type=file].form-control {
    width: calc(100% - 60px);
}

.btn {
    width: 50%;
    padding: 20px;
    background-color: cornflowerblue;
    border: none;
    color: white;

    transition: all 0.4s ease;
}

.btn:hover {
    background-color: white;
    color: #333333;

    cursor: pointer;
}

fieldset {
    margin-bottom: 20px;
    border-top: 0;
}

fieldset legend {
    font-size: 20px;
    font-weight: bold;
}