.form-control {
    width: 100%;
    background-color: white;

    border: 1px solid #333;
    border-radius: 2px;
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 15px 30px 15px 30px;

    transition: all 0.2s ease;
}

.form-control:hover {
    background-color: cornflowerblue;
    color: white;
}

.form-control:hover::placeholder {
    color: white;
}
/*
input[type=text].form-control,
input[type=number].form-control,
input[type=date].form-control,
input[type=email].form-control,
input[type=file].form-control {
    width: calc(100% - 60px);
}
*/
.btn {
    width: 50%;
    padding: 20px;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;

    color: white;

    transition: all 0.2s ease;
}
.btn-reset {
    background-color: orangered;
    border: 1px solid orangered;
    color: white;
}

.btn-white {
    background-color: white;
    border: 1px solid cornflowerblue;
    color: #333333;
}

.btn:hover {
    background-color: white;
    color: #333333;

    cursor: pointer;
}

fieldset {
    margin-bottom: 20px;
    border: 3px solid cornflowerblue;
    border-top: 0;
    transition: all 1s ease;
}

fieldset legend {
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    width: 100%;
    text-align: right;
}