html {
    height:100%;
}

body {
    height: 100%;
    margin:0;
    font-family: 'Indie Flower', cursive;
    color: #333;
    background-color: bisque;
    overflow: auto;
}


.h-line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.width-full {
    width:100%!important;
}

#main-nav {
    position: fixed;
    width: 300px;
    left: 0;
    top:0;
    height: 100%;

    background-color: cornflowerblue;
}

#main-nav .logo {
    width: 250px;
    margin-left: 25px;
    margin-top: 20px;
    transition: all 1s ease;
}

#main-nav:hover .logo {
    filter: invert(100%);
    transform: rotate(50deg);
}

#main-section {
    padding:0;
    margin-left:300px;
    width: calc(100% - 300px);
    overflow: hidden;
}

.section-body {
    width: 85%;
    background-color: white;
    margin:auto;
    padding: 30px;
    margin-top: 20px;
}


table.tbl, table.tbl2 {
    border-collapse: collapse;
    width: 100%;
}

table.tbl tr:nth-child(even), table.tbl2 tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.tbl td:nth-child(odd) {
    text-align: center;
    font-weight: bold
}

table.tbl td {
    text-align: left;
    padding: 8px;
}

table.tbl2 td {
    text-align: center;
    transition: all 0.4s ease;
    padding: 20px;
}

table.tbl a, table.tbl2 a {
    text-decoration: none;
    color: cornflowerblue;
}

table.tbl tr, table.tbl2 tr {
    height: 50px;
}

h2 {
    width: 100%;
    background-color: cornflowerblue;
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px 10px 30px 5px;

    text-align: center;

    transition: all 0.4s ease;
}

table.tbl2 td:hover {
    background-color: cornflowerblue;
    color:white;
}
table.tbl2 td:hover h2 {
    background-color: white;
    border-radius: 50px 5px 10px 15px;
    color:#333;
}